{% extends 'base.html.twig' %}

{% block title %}Lego{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
    <link  rel="stylesheet" href="/style.css">
{% endblock %}



{% block body %}

<nav>
        <a href="/">All</a>
        {% for col in cols %}
        {% if col.memberonly != 1 or app.user %}
          <a href="/collections/{{ col.id }}">{{ col.name }}</a>
        {% endif %}
        {% endfor %}
        {% if app.user %}
        Bonjour {{ app.user.email }} !
        <a href="{{ path('lego_store_logout') }}">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
</nav>

{% for lego in legos %}
<div class="lego_card">
      <div class="info_section">
        <div class="lego_header">
          <img class="locandina" src="/images/{{lego.boxImage}}"/>
          <h1>{{lego.name}}</h1>
          <h4>Collection : {{lego.collection.name}}</h4>
          <span class="pieces">Pièces : {{lego.pieces}}</span>
          <p class="price">{{lego.price}}€</p><br>
          <a href="index.php?buy={{lego.id}}"><button>Buy</button></a>
        </div>
        <div class="lego_desc">
          <p class="text">
            {{lego.description}}
        </p>
        </div>
        <div class="lego_social">
          <ul>
            <li><i class="material-icons">share</i></li>
            <li><i class="material-icons"></i></li>
            <li><i class="material-icons">chat_bubble</i></li>
          </ul>

        </div>

      </div>
      <div class="blur_back">
        <img src="/images/{{lego.legoImage}}" alt="background lego card">
      </div>
</div>
{% endfor %}

{% endblock %}
